<!DOCTYPE html>
<html>

    <head>
      <meta charset="utf-8"/>
      <title>姓名案例-计算属性实现</title>
      <script type="text/javascript" src="../js/vue.js"></script>

      <style>
        
      </style>
    </head>
    
    <body>
      <!--
         
      -->
      <!--准备好一个容器-->
      <div id="root">
            姓：<input type="text" v-model="firstName"> <br>
            名：<input type="text" v-model="lastName"> <br>
            姓名：<span>{{fullName}}</span> 
      </div>
    </body>

    <script type="text/javascript">
        Vue.config.productionTip = false //阻止 vue在启动时生成生产提示
        const vm = new Vue({
            el:'#root',
            data:{
                firstName:'张',
                lastName:'三'
            },
            computed:{
              fullName: {
                //get有什么作用？当有人在读取fullName时，get就会被调用，且返回值就作为fullName的值
                //get什么时候调用？1.初次读取fullName时。2，所依赖的数据发生变化时
                get(){
                  console.log("get invoke")
                  return this.firstName + "-" + this.lastName
                }
              }
            }
        })
    </script>
    
</html>